<h1>User Profile</h1>

<p>Name:</p>
<p>Email Address:</p>
<p>Number of To Do Items Completed</p>
<p>Number of Open To Do Items</p>


View My To Do List

Edit My Profile

Cancel My Account
We are sorry to see you go. Please consider carefully this cannot be undone.
