<!DOCTYPE html>
<html>
</br>
	<div class="jumbotron text-center center-block">
	  <h1 class="text-center">Blocitoff</h1>
	  <h3 class="text-muted">A self-destructing to-do list to keep you focused on the things that really matter</h3>
	</div>

</html>
