<li> 
  <%= item.name %> 
  
  <span class="pull-right"><%= link_to "Delete | ", item, method: :delete, remote: true%> 
    <%= link_to "Renew To Do", item_redo_path(item) %>
    <br/> 
  </span>
  <br/>

  <small class="pull-right">Expired On - <%= item.expiration.to_date.to_formatted_s(:long_ordinal)%></small>
  <br/>
</li>

<br/>